@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style: none;
}

body{
   position: relative;
   font-family: 'Noto Sans KR', sans-serif;
}

/* -------------header-nav 부분----------------- */

header{
   position: relative;
   text-align: center;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 80px;
   /* background: #FFFFFF 0% 0% no-repeat padding-box; */
   border: 1px solid #DBDBDB;
   border-left: none;
   border-right: none;
   opacity: 1;
   z-index: 90;
   
}

.header-con-wrap{
   display: inline-block;
   position: relative;
   max-width: 1440px;
   width: 100%;
}

.ci-logo{
   width: fit-content;
   /* position: absolute; */
   padding: 25px 0 0 120px;
}

.ci-logo img{
   width: 133px;
   height: 30px;
   filter:invert(100%) sepia(100%) saturate(2%) hue-rotate(190deg) brightness(102%) contrast(101%);
}

.header-con-wrap nav{
   margin-top: -35px;
   padding-right: 160px;
   float: right;
   width: fit-content;
   margin-right: 0;
}

.nav-text{
   display: flex;
   justify-content: space-between;
   width: 400px;
}
.nav-text a{
   display: block;
}
.nav-text li{
   display: block;
   letter-spacing: 0px;
   color: #FFFFFF;
   opacity: 1;
   font-size: 20px;
   font-weight: bold;
   width: 74px;
   height: 29px;
   cursor: pointer;
   text-transform:uppercase; 
}
.nav-text a li:after{
   display:block;
   margin-top: 3px;
   content: '';
   height: 6px;
   background: #FFFFFF; 
   border-radius: 3px; 
   transform: scaleX(0);  
   transition: transform 250ms ease-in-out;
   transform-origin: 0% 50%;
}

.nav-text a li:hover:after{
   transform: scaleX(1);
}


.hamburger-menu{
   position: absolute;
   top: 25px;
   right: 20px;
   width: 32px;
   height: 32px;
   cursor: pointer;
   background: transparent url('../img/nav/hamburger_menu.svg') 0% 0% no-repeat padding-box;
   opacity: 1;
}

.hide-nave{
   /* top: 24px;
   left: 0px; */
   width: 100%;
   height: 263px;
}

.hide-nav-texts{
   position: absolute;
   top: 79px;
   right: 0;
   width: 100%;
   height: 207px;
   background: #184B9F 0% 0% no-repeat padding-box;
   border: 1px solid #707070;
   border-top: none;
   opacity: 0.9;
   color: #FFFFFF;
}

.hide-nav-con-wrap{
   position: relative;
   max-width: 1440px;
   width: 100%;
   margin: 0 auto;
}

.hide-nav-flex-wrap{
   position: absolute;
   display: flex;
   justify-content: space-between;
   width: 400px;
   top: 12px;
   right: 160px;
}

.hide-nav-texts a li{
   text-align: left;
   padding-bottom: 5px;
   letter-spacing: 0px;
   opacity: 1;
   cursor: pointer;
}

.hide-nav-texts{
   display: none;
}
/* -------------------nav 용 임시 사진------------------------- */
.container{
   width: 100%;
   position: absolute;
   top: 0px;
   left: 0px;
}
.pic-1{
   /* max-width: 1920px; */
   width: 100%;
   background: url('../img/nav/carousel.png') no-repeat;
   background-size: cover;
   height: 900px;

}

/* ---------프로젝트 부분----------------------- */

.project-wrap{
   position: absolute;
   top: 1550px;
   left: 0px;
   background: #F9F8FF;
   width: 100%;
   height: 1147px;
   z-index: 80;
}

.project-con-wrap{
   max-width: 1440px;
   margin: 0 auto;
   display: flex;
   justify-content: space-around;
}

/* ------------프로젝트 글 부분------------- */
.pro-con-left{
   padding-top: 100px;
}

.project-text{
   text-align: right;
}

.project-text h2{
   font-weight: bold;
   font-size: 40px;
   color: #1E1E1E;
}

.project-text .pro-text-eng{
   color: #C8C8C8;
   padding-bottom: 50px;
   font-weight: Medium;
   font-size: 18px;
}

.project-text .pro-text-con{
   color: #1E1E1E;
   font-weight: bold;
   font-size: 26px;
}

.motion-pic-1{
   margin-top: 61px;
}

/* ---------------프로젝트 사진 두개 부분------------------ */
.pro-con-right{
   margin-top: 211px;
}


.ecoce-back-img{
   border-radius: 10px;
   width: 475px;
   height: 355px;
   background: transparent url('../img/project/ecoce-3d-pic.png') 0% 0% no-repeat padding-box ;
   background-position: center;
   
}

.imghover{
   transition: all 0.2s linear;
}

.pro-ecoce-wrap:hover .imghover,
.pro-moado-wrap:hover .imghover{
   transform: scale(1.2);
}
.pro-ecoce-wrap{
   overflow: hidden;
   border-radius: 10px;
   position: relative;
   width: 475px;
   height: 355px;
}

.pro-ecoce-wrap figcaption,
.pro-moado-wrap figcaption{
   position: absolute;
   color: #FFFFFF;
   font-size: 17px;
   z-index: 2;
   padding: 260px 0 0 21px;
   top:0; right:0; bottom:0; left:0; 
   opacity: 0;
   background-color:rgba(0,0,0,0.5); 
   display:block; 
   z-index: 1;
   width: 100%;
   height: 100%;
   border-radius: 10px;
   transition-duration: 0.3s;
}


.pro-ecoce-wrap figcaption:hover,
.pro-moado-wrap figcaption:hover{
   cursor: pointer;
   opacity: 1;
   transition-duration: 0.3s;
}

.moado-back-img{
   border-radius: 10px;
   width: 475px;
   height: 355px;
   background: transparent url('../img/project/moaDo-pic.png') 0% 0% no-repeat padding-box;
}



.pro-moado-wrap{
   overflow: hidden;
   position: relative;
   border-radius: 10px;
   margin-top: 50px;
   width: 475px;
   height: 355px;
   background: url('../img/project/gradient-moado.svg') no-repeat center;
}

.pro-moado-wrap figcaption{
   padding-top: 285px;
}

/* ----------서비스 부분---------- */
.service-wrap{
   position: absolute;
   top: 2697px;
   left: 0px;
   width: 100%;
   height: 1148px;
   background: #FFFFFF 0% 0% no-repeat padding-box;
}

.service-con-wrap{
      max-width: 1440px;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
}

/* -----------서비스 내용 부분(왼쪽)---------------- */
.ser-con-left{
   padding-top: 100px;
}

.service-text h2{
   color: #1E1E1E;
   font-size: 40px;
}

.service-text .ser-text-eng{
   color: #C8C8C8;
   font-weight: medium;
   font-size: 18px;
}

.service-text .ser-text-con{
   padding-top: 50px;
   font-weight: bold;
   font-size: 26px;
   color: #1E1E1E;
}
/* -----------서비스 내용 부분(오른쪽)---------------- */
.ser-con-right{
   position: relative;
   padding-top: 100px;
   margin-right: 360px;
}

.ser-develop-wrap{
   position: relative;
   /* overflow: hidden; */
   border-radius: 30px;
   width: 300px;
   height: 375px;
}

.app-develop-img h4,
.web-back-img h4,
.app-ai-img h4,
.app-xr-img h4{
   font-size: 30px;
   font-weight: 400;
}

.app-develop-img p,
.web-back-im p,
.app-ai-img p,
.app-xr-img p{
   font-size: 20px;
}

.app-develop-img{
   width: 300px;
   height: 375px;
   text-align: center;
   color: #FFFFFF;
   padding-top: 160px;
   border-radius: 30px;
   background: rgba(0, 0, 0, 0.3) url('../img/service/app-dev.png') no-repeat center;
   background-blend-mode: darken;
}



.ser-develop-wrap:hover .imghover,
.ser-web-wrap:hover .imghover,
.ser-ai-wrap:hover .imghover,
.ser-xr-wrap:hover .imghover{
   transform: scale(1.1);
   color: transparent;
}


.ser-develop-wrap figcaption,
.ser-web-wrap figcaption,
.ser-ai-wrap figcaption,
.ser-xr-wrap figcaption{
   position: absolute;
   color: #FFFFFF;
   font-size: 24px;
   z-index: 2;
   text-align: center;
   padding: 200px 0 0 80px;
   top:0; right:0; bottom:0; left:0; 
   opacity: 0;
   display:block; 
   z-index: 1;
   width: 100%;
   height: 100%;
   border-radius: 10px;
   transition-duration: 0.3s;
}

.ser-develop-wrap figcaption:hover,
.ser-web-wrap figcaption:hover,
.ser-ai-wrap figcaption:hover,
.ser-xr-wrap figcaption:hover{
   text-align: center;
   padding: 150px 0 0 0;
   transform: scale(1.1);
   border-radius: 10px;
   cursor: pointer;
   opacity: 1;
   transition-duration: 0.3s;
}

.ser-web{
   position: absolute;
   top: 218px;
   left: 380px;
}

.ser-web-wrap{
   position: relative;
   /* overflow: hidden; */
   border-radius: 30px;
   width: 300px;
   height: 375px;
}

.web-back-img,
.app-ai-img,
.app-xr-img{
   width: 300px;
   height: 375px;
   text-align: center;
   color: #FFFFFF;
   padding-top: 160px;
   border-radius: 30px;
   background: rgba(0, 0, 0, 0.3) url('../img/service/app-dev.png') no-repeat center;
   background-blend-mode: darken;
}

.ser-ai{
      position: absolute;
      top: 555px;
      left: 0px;
   }


.ser-ai-wrap{
   position: relative;
   /* overflow: hidden; */
   border-radius: 30px;
   width: 300px;
   height: 375px;
}

.app-ai-img{
   background: rgba(0, 0, 0, 0.3) url('../img/service/ai-pic.png') no-repeat center;
}

.ser-xr{
   position: absolute;
   top: 673px;
   left: 380px;
}

.ser-xr-wrap{
   position: relative;
   /* overflow: hidden; */
   border-radius: 30px;
   width: 300px;
   height: 375px;
}

.app-xr-img{
   background: rgba(0, 0, 0, 0.3) url('../img/service/XRcon.png') no-repeat center;
}

/* ----------------footer 부분----------------- */

footer{
   position: absolute;
   top: 4879px;
   left: 0;
   width: 100%;
   height: 250px;
   background: #E9E9E9 0% 0% no-repeat padding-box;

}

.footer-con-wrap{
   max-width: 1440px;
   width: 100%;
   margin: 50px auto;
   padding: 0 3% 0 3%;
}

.footer-ci{
   display: flex;
   justify-content: space-between;
   max-width: 510px;
}

.footer-ci .footer-copyright{
   padding-top: 21px;
   margin-bottom: 0px;
   color: #9E9E9E;
   font-size: 16px;
   font-weight: 400;
}

.footer-text-wrap{
   width: 100%;
   display: flex;
   margin-top: 30px;
   color: #9E9E9E;
   font-weight: 300;
   font-size: 16px;
   word-wrap: keep-all;
}

.footer-left-con p,
.footer-right-con p{
   margin-bottom: 0;
}

.footer-left-con{
   height: 76px;
   margin-right: 10%;
}
.footer-right-con{
   height: 50px;
   word-wrap: keep-all;
}

/* 반응형 - 해상도 (768px~1024이하일때) */

@media (min-width:768px) and (max-width:1024px) {
   /* nav 부분 */
   .header-con-wrap{
      max-width: 1024px;
   }


}

/* 반응형 - 해상도 768px 이하 */
@media  (max-width:767px) {
   footer{
      height: 331px;
   }

   .footer-con-wrap{
      padding: 0 5%;
   }

   .footer-text-wrap{
      flex-direction: column;
   }

   .footer-left-con{
      margin-bottom: 30px;
   }
}