@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style: none;
}

body{
   /* position: relative; */
   font-family: 'Noto Sans KR', sans-serif;
}

/* -------------header-nav 부분----------------- */

header{
   position: relative;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 80px;
   /* background: #FFFFFF 0% 0% no-repeat padding-box; */
   border: 1px solid #DBDBDB;
   opacity: 1;
   z-index: 90;
   
}

.ci-logo{
   position: absolute;
   top: 25px;
   left: 360px;
}

.ci-logo img{
   width: 133px;
   height: 30px;
   filter:invert(100%) sepia(100%) saturate(2%) hue-rotate(190deg) brightness(102%) contrast(101%);
}
.nav-text a{
   display: block;
}
.nav-text li{
   letter-spacing: 0px;
   color: #FFFFFF;
   opacity: 1;
   font-size: 20px;
   font-weight: bold;
   width: 74px;
   height: 29px;
   cursor: pointer;
   text-transform:uppercase; 
}
.nav-text a li:after{
   display:block;
   margin-top: 3px;
   content: '';
   height: 6px;
   background: #FFFFFF; 
   border-radius: 3px; 
   transform: scaleX(0);  
   transition: transform 250ms ease-in-out;
   transform-origin: 0% 50%;
}

.nav-text a li:hover:after{
   transform: scaleX(1);
}


.nav-text a:first-child li{
   position: absolute;
   top: 26px;
   left: 1198px;
}

.nav-text a:nth-child(2) li{
   position: absolute;
   top: 26px;
   left: 1332px;
}
.nav-text a:last-child li{
   position: absolute;
   top: 26px;
   left: 1466px;
}

.hamburger-menu{
   position: absolute;
   top: 24px;
   left: 1648px;
   width: 32px;
   height: 32px;
   cursor: pointer;
   background: transparent url('/img/hamburger_menu.svg') 0% 0% no-repeat padding-box;
   opacity: 1;
}

.hide-nave{
   top: 24px;
   left: 0px;
   width: 100%;
   height: 263px;
}

.hide-nav-texts{
   position: absolute;
   top: 79px;
   left: 0px;
   width: 100%;
   height: 207px;
   background: #184B9F 0% 0% no-repeat padding-box;
   border: 1px solid #707070;
   border-top: none;
   opacity: 0.9;
   color: #FFFFFF;
}

.hide-nav-texts a li{
   text-align: left;
   padding-bottom: 5px;
   letter-spacing: 0px;
   opacity: 1;
   cursor: pointer;
}
.slide-nav-text-1{
   position: absolute;
   top: 10px;
   left: 1196px;
   width: 99px;
   height: 145px;
}

.slide-nav-text-2{
   position: absolute;
   top: 10px;
   left: 1331px;
   width: 69px;
   height: 87px;
}

.slide-nav-text-3{
   position: absolute;
   top: 10px;
   left: 1468px;
   width: 99px;
   height: 29px;
}

.hide-nav-texts{
   display: none;
}
/* ------------header-케러셀 부분------------- */
.container{
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
}
.pic-1{
   /* max-width: 100%; */
   background: url('/img/carousel-max.png') no-repeat;
   background-size: cover;
   height: 900px;
   overflow: hidden;

}

/* ---------프로젝트 부분----------------------- */

.project-wrap{
   position: absolute;
   top: 1550px;
   left: 0px;
   background: #F9F8FF;
   width: 100%;
   height: 1147px;
   z-index: 80;
}

.project-con-wrap{
   max-width: 1440px;
   margin: 0 auto;
   display: flex;
   justify-content: space-around;
}

/* ------------프로젝트 글 부분------------- */
.pro-con-left{
   padding-top: 100px;
}

.project-text{
   text-align: right;
}

.project-text h2{
   font-weight: bold;
   font-size: 40px;
   color: #1E1E1E;
}

.project-text .pro-text-eng{
   color: #C8C8C8;
   padding-bottom: 50px;
   font-weight: Medium;
   font-size: 18px;
}

.project-text .pro-text-con{
   color: #1E1E1E;
   font-weight: bold;
   font-size: 26px;
}

.motion-pic-1{
   margin-top: 61px;
}

/* ---------------프로젝트 사진 두개 부분------------------ */
.pro-con-right{
   margin-top: 211px;
}


.ecoce-back-img{
   border-radius: 10px;
   width: 475px;
   height: 355px;
   background: transparent url('/img/ecoce-3d-pic.png') 0% 0% no-repeat padding-box ;
   background-position: center;
}


.pro-ecoce-wrap{
   position: relative;
   width: 475px;
   height: 355px;
}

.pro-ecoce-wrap figcaption{
   position: absolute;
   color: #FFFFFF;
   font-size: 17px;
   z-index: 2;
   padding: 270px 0 0 21px;
   top:0; right:0; bottom:0; left:0; 
   opacity: 0;
   background-color:rgba(0,0,0,0.5); 
   display:block; 
   z-index: 1;
   width: 100%;
   height: 100%;
   border-radius: 10px;
}


.pro-ecoce-wrap figcaption:hover{
   opacity: 1;
}




